version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
      day: monday
    commit-message:
      prefix: "deps"
    labels:
      - dependencies
    open-pull-requests-limit: 10

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    commit-message:
      prefix: "ci"
    labels:
      - dependencies
      - ci
    open-pull-requests-limit: 5

  - package-ecosystem: docker
    directory: /build/docker
    schedule:
      interval: weekly
      day: monday
    commit-message:
      prefix: "docker"
    labels:
      - dependencies
      - docker
    open-pull-requests-limit: 5
